[tool.commitizen]
name = "cz_conventional_commits"
version = "0.3.1"
version_files = [
    "custom_components/dyson_ir/manifest.json:version"
]
scopes = [
    "dyson_ir"
]
tag_format = "$version"

[tool.ruff]
line-length = 88
target-version = "py311"

[tool.ruff.lint]
select = ["E", "F", "B", "I"]
ignore = []

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"
